<?xml version='1.0' encoding='utf-8' ?>
<widget id="com.hanna-inst.ios" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>ProductDemo</name>
	<description>
		A sample Apache Cordova application that responds to the deviceready event.
	</description>
	<author email="mhartington@hannainst.com" href="http://www.hannainst.com">
		Hanna Instruments
	</author>
	<preference name="DisallowOverscroll" value="true" />
	<preference name="SplashScreen" value="splash" />
	<preference name="SplashScreenDelay" value="1000" />
	<content src="index.html" />
	<access origin="*" />
</widget>
