/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_8b5f901eca662141c38814c51b34660d.eot");
  src: url("./fontcustom_8b5f901eca662141c38814c51b34660d.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_8b5f901eca662141c38814c51b34660d.woff") format("woff"),
       url("./fontcustom_8b5f901eca662141c38814c51b34660d.ttf") format("truetype"),
       url("./fontcustom_8b5f901eca662141c38814c51b34660d.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_8b5f901eca662141c38814c51b34660d.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-360:before,
.icon-360-active:before,
.icon-button:before,
.icon-button-active:before,
.icon-data:before,
.icon-data-active:before,
.icon-feature:before,
.icon-feature-active:before,
.icon-io:before,
.icon-io-active:before,
.icon-kit:before,
.icon-kit-active:before,
.icon-probe:before,
.icon-probe-active:before,
.icon-video:before,
.icon-video-active:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.icon-360:before { content: "\f100"; }
.icon-360-active:before { content: "\f101"; }
.icon-button:before { content: "\f102"; }
.icon-button-active:before { content: "\f103"; }
.icon-data:before { content: "\f110"; }
.icon-data-active:before { content: "\f111"; }
.icon-feature:before { content: "\f104"; }
.icon-feature-active:before { content: "\f105"; }
.icon-io:before { content: "\f108"; }
.icon-io-active:before { content: "\f109"; }
.icon-kit:before { content: "\f10a"; }
.icon-kit-active:before { content: "\f10b"; }
.icon-probe:before { content: "\f10c"; }
.icon-probe-active:before { content: "\f10d"; }
.icon-video:before { content: "\f10e"; }
.icon-video-active:before { content: "\f10f"; }
