<ion-view>

  <ion-side-menus>

    <fade-bar></fade-bar>

    <ion-side-menu-content id="nav-menu-pane" darken>

      <ion-nav-bar class="bar-positive"></ion-nav-bar>

      <ion-nav-view name="content"></ion-nav-view>

    </ion-side-menu-content>

    <ion-side-menu side="left">

      <div class="bar bar-header bar-dark">

        <a class="button button-clear button-full title dark-head" ui-sref="home">

          Main Menu

        </a>

      </div>

      <ion-content class="has-header dark" has-bouncing="true">

        <div class="list">

          <a ng-repeat="pet in pets | orderBy:'sku'" class="item" ui-sref="main.detail({petsId: pet.id })" ui-sref-active="current" menu-toggle="left" ng-click="setStuff();">

            <h3>{{pet.sku}}</h3>

            <p>{{pet.title}}</p>

          </a>

        </div>

      </ion-content>

    </ion-side-menu>

  </ion-side-menus>

</ion-view>